{{- if .Values.ingress.enabled }}
{{- range $key, $value := .Values.deployments }}
{{- if eq $.Values.ingress.type "ingress" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $value.ingressName }}
  annotations:
    cert-manager.io/cluster-issuer: ca-cluster-issuer
spec:
  ingressClassName: "traefik"
  rules:
  - host: "{{ $value.hostname }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ $value.serviceName }}
            port:
              number: {{ $value.port | default $value.targetPort }}
  {{- if $.Values.tls.enabled}}
  tls: 
  - hosts: 
    - "{{ $value.hostname }}"
    secretName: {{ $value.certSecretName }}
  {{- end }}
    
{{- else if eq $.Values.ingress.type "ingressroute" }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ $value.ingressName }}
spec:
  entryPoints:
    - web
    - websecure
  routes:
  - kind: Rule
    match: Host(`{{ $value.hostname }}`)
    services:
    - kind: Service
      name: {{ $value.serviceName }}
      namespace: {{ $.Release.Namespace }}
      port: {{ $value.port | default $value.targetPort }}
  tls:
    secretName: {{ $value.certSecretName }}
{{- else }}
  {{- fail "You have entered an invalid ingress type. Please choose between ingress and ingressroute" }}              
{{- end }}   
---         
{{- end }}
{{- end }}